name: open_eraa

channels:
- conda-forge
- bioconda
- ibmdecisionoptimization

dependencies:
- python>=3.10
- pip


- pypsa>=0.32.1
- linopy>=0.4.4
- powerplantmatching>=0.5.15
- cplex

# Dependencies of the workflow itself
- dask
- xlrd
- openpyxl
- seaborn
- snakemake-minimal>=9
#- snakemake-storage-plugin-http >=0.3
- snakemake-executor-plugin-slurm
- snakemake-executor-plugin-cluster-generic
- yaml
- memory_profiler
- pytables
- lxml
- numpy
- pandas>=2.1
- geopandas>=1
- xarray>=2024.03.0,<2025.07.0
- rioxarray
- netcdf4
- libgdal-netcdf
- networkx
- scipy
- glpk
- shapely>=2.0
- matplotlib
- proj
- fiona
- country_converter
- geopy
- tqdm
- pytz
- jpype1
- pyxlsb
- graphviz
- geojson
- pyscipopt

# GIS dependencies:
- cartopy
- descartes
- rasterio

# Development dependencies
- jupyter
- ipython
- pre-commit
- ruff
- pylint

- pip:
  #- gurobipy
  - highspy
  - tsam>=2.3.1
  - entsoe-py
  - snakemake-storage-plugin-http


